body{
	font-family: "Quattrocento Sans", sans-serif;
	background-color: 	 ;
}

#navbar-brand-logo{
	height: 80px;
	margin-top: -23px;
}

h1,h2,h3,p{
	font-family: Montserrat, sans-serif;
}
.tecnicas{
	border: 6px solid #eee;
	width: 70%;
}



 #imagens{margin: 0 auto;
          border: 2px solid #ccc;
          padding: 10px;
          width: 830px;
          height: 330px;
          margin-top: 50px;
          border-radius: 10px; }

#imagens ul{margin: 0;
            padding: 0;
            list-style: none;}

img,
object,
embed,
video,
iframe,
iframe[estilo]{
	max-width: 100%;
	height: auto;
}

.top{
	 position:relative;
	 width:100%;
	 height:40px;
	 background-color:#EFEFEF;
	 border:1px solid #E8E8E8;
	 text-align:center;
	 line-height:40px;
}

.open_div{
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:333333;
}

.hidden_div{
	position:absolute;
	width:300px;
	height:280px;
	top:41px;
	left:50%;
	margin-left:350px;
	border:2px solid #CCCCCC;
	overflow:hidden;
	clear:both;
	padding:10px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*P.I cmea aqui*/


      /*Aqui eu faco <DIV> da sombra */
.login-box{
    background-color:#F5F5F5;
    width: 480px;
    height: 360;
    margin: 10px auto 10px;
    border-radius: 5px;
    
}
     /*Aqui eu faco <DIV> aparente na cor Branca */
.login-box-interno{
	width: 460px;
	height: 400px; 
	background-color:#fdfdfd;
	position: absolute;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;/*serve para não ultrapassar os campos da div's e não aparecer o escessos*/ 

}
   /*Aqui eu faco <DIV> A Parte aonde esta escrito Acesso a Central */
.login-box-label{
	
	height: 45px;
	text-align: center;

	font: bold 14px/45px sans-serif; /*Aqui eu configuro a fonte do sistema operacional */
	border-top-left-radius: 5px;/*Aqui adiciono as bordas superiores lado direito e esquerdo arredondadas */
	border-top-right-radius: 5px;

	
     /*Aqui ainda na parte superior eu adiciono um efeito pronto para da <DIV> */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+56,f6f6f6+67,f6f6f6+67,f6f6f6+75,f6f6f6+82,f6f6f6+89,f6f6f6+89,ededed+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 56%, #f6f6f6 67%, #f6f6f6 67%, #f6f6f6 75%, #f6f6f6 82%, #f6f6f6 89%, #f6f6f6 89%, #ededed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 56%,#f6f6f6 67%,#f6f6f6 67%,#f6f6f6 75%,#f6f6f6 82%,#f6f6f6 89%,#f6f6f6 89%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 56%,#f6f6f6 67%,#f6f6f6 67%,#f6f6f6 75%,#f6f6f6 82%,#f6f6f6 89%,#f6f6f6 89%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */ 

    border-bottom: 1px solid #bfc3c5;/*aqui diciono uma linha abaixo do texto acesso a central*/
    box-shadow: 1px 0px 3px #dedede;/*aqui a sombra desta linha*/
    color: 555555;
    text-shadow: 2px 0px 2px white;
}
/**/
.input-div{
     margin: 50px;
     padding: 5px;
     background-color: #f2f5f7;
     border-radius: 3px;
}
/**/
.input-div input{
	width: 350px;
	height: 35px;
	padding-left: 5px;
	font: normal 13px sans-serif
	color: aeaeae;
	border-radius: 3px;
	border: 1px solid #bfc4c6;
	outline: none;
}
/*Aqui eu adiciono o efeito de sombra aonde eu seleciono ocampo login ou senha*/
.input-div:hover{
	background-color: #e0f1fc;
}

.input-div: hover input{
	border-color: #7dc6dd;
}
.input-senha{
	margin-top: -10px;
}
/*Aqui eu estou centralizando os botões login e o campo lebrar senha*/
.botoes{
	width: 310px;
	margin-left: 55px;
}
/*Aqui são os efeitos do botão de Login*/
.botao{
	float: right;
	background-color: red;
	padding: 5px 15px;
	font:bold 12px sans-serif;
	border-radius: 20px;
	text-shadow: 0px 1px 0px white;
	border: 1px solid #9eb9c3;

/*AQUIEU USO UM EFEITO NO BOTÃO*/

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,cde5ee+100,2989d8+100 */
background: #edf6f9; /* Old browsers */
background: -moz-linear-gradient(top, #edf6f9 0%, #cde5ee 100%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #edf6f9 0%,#cde5ee 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #edf6f9 0%,#cde5ee 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
    
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;

}

.botao:hover{
	/*Aqui eu reverto a cor do botão para dar um efeito melhor */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,cde5ee+0,edf6f9+100 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top, #2989d8 0%, #cde5ee 0%, #edf6f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2989d8 0%,#cde5ee 0%,#edf6f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2989d8 0%,#cde5ee 0%,#edf6f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */
   
   cursor: pointer;
}

.lembrar-senha{
	font: normal 14px sans-serif;

}
.botoesUtilizado{
	width: 500px;
	margin-left: 300px;
	margin: 60px;
}
/*AQUI SÃO OS EFEITOS DOS BOTÕES DA TELA ESPAÇO A SER UTILIZADO*/

.botaoEspacoUtilizado{
	float: right;
	background-color: red;
	padding: 120px 35px;
	font:bold 12px sans-serif;
	border-radius: 200px;
	text-shadow: 0px 1px 0px white;
	border: 1px solid #9eb9c3;

/*AQUIEU USO UM EFEITO NO BOTÃO*/

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,cde5ee+100,2989d8+100 */
background: #edf6f9; /* Old browsers */
background: -moz-linear-gradient(top, #edf6f9 0%, #cde5ee 100%, #2989d8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #edf6f9 0%,#cde5ee 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #edf6f9 0%,#cde5ee 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
    
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;

}

.botaoEspacoUtilizado:hover{
	/*Aqui eu reverto a cor do botão para dar um efeito melhor */

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,cde5ee+0,edf6f9+100 */
background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top, #2989d8 0%, #cde5ee 0%, #edf6f9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2989d8 0%,#cde5ee 0%,#edf6f9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2989d8 0%,#cde5ee 0%,#edf6f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */
   
   cursor: pointer;
}
.campoTexto{
	width: 360px;
	height: 200px;
}
